*,
*::before,
*::after { box-sizing: inherit }
::-moz-selection {
    background: #79d6e6;
    color: #fff; }
::selection {
    background: #79d6e6;
    color: #fff; }
html {
    font-size: 62.5%;
    box-sizing: border-box; }
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(46, 48, 58, 0.96);
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased; }
.container {
  padding-top: 15%;
}
.github-card {
  font-family: sans-serif;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  width: 30rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
a {
  color: #0cb4ce;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, a:visited  {
  color: #009BB5;
}
.github-card-header {
  padding: 2.5rem 1.5rem;
}
.github-card-header + .github-card-body {
  margin-top: -2.5rem;
  padding-top: 0;
}
.github-title {
  color: #b7b7b7;
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}
.project-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}
.project-title a {
  color: rgba(46, 48, 58, 0.96);
}
.project-title a:hover,
.project-title a:active,
.project-title a:visited {
  color: #009BB5;
}
.github-card-details {
  border-top: 1px solid #d1d1d1;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 500;
  padding: 2.1rem;
  margin: 2.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.github-card-details dt {
  padding-right: 1rem;
}
.github-card-details dd {
  margin: 0;
  padding-right: 1.7rem;
}
